@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

.title1 {
    font-size: var(--font-size-title1);
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    line-height: 150%;
    color: var(gray100);
}

.title2 {
    font-size: var(--font-size-title2);
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    line-height: 150%;
}

.title3 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-title2);
    line-height: 150%;
}

.label-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-label);
    line-height: 150%;
}

.color-text {
    color: var(--brand100);
    color: "hsl(230, 57%, 50%)";
}

.text1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-text1);
    line-height: 150%;
}

.text-alert {
    display: none;
    font-size: var(--font-size-alert);
    color: var(--alert100);
}

